#TournamentList {
    list-style: none;
    margin: 0;
    padding: 0;
}

    #TournamentList li {
        padding: 5px;
        margin: 5px 0px;
    }

        #TournamentList li i {
            opacity: 0.5;
        }

            #TournamentList li i:hover {
                opacity: 1;
                color: #ff0000;
                cursor: pointer;
            }

.tournament-link {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-size: 1.1em;
    transition: color 0.3s ease;
    padding-left: 10px;
}

    .tournament-link:hover {
        color: #007bff;
        text-decoration: underline;
    }


/* Edit Button Styles */
.edit-tournament {
    background: none; /* No background */
    border: none; /* Remove border */
    color: #333; /* Default text color */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 0; /* Remove padding */
    margin-left: 10px; /* Space between icons */
}

    .edit-tournament i {
        font-size: 1.25em; /* Adjust size if necessary */
        transition: color 0.3s ease; /* Smooth color transition */
    }

    /* Change color on hover */
    .edit-tournament:hover i {
        color: orange; /* Change to orange on hover */
    }

.create-tournament-btn {
    margin-bottom: 20px; /* Adjust the value as needed */
}