@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
   
}


<div class="dropdown" style="position: relative; display: flex; justify-content: flex-end; margin: 5px;">
    <button id="dropdownBtn" type="button" class="btn" style="background-color: #007bff; color: white;">
        Notifications <span style="background-color: red; color: white; border-radius: 50%; padding: 2px 6px;">7</span>
    </button>
    <div id="dropdownMenu" class="dropdown-menu"
         style="display: none; position: absolute; top: 100%; right: 0; z-index: 1000; background: white; border: 1px solid #ddd; padding: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
       
         <div id="notiBtnContainer" style="justify-content: space-between;">
         <button id="notiTournamentBtn" type="button" class="btn" style="background-color: #007bff; color: white;">Tournament</button>    
         <button id="notiChatBtn" type="button" class="btn" style="background-color: #007bff; color: white;">Chat</button>
         </div>


        <div id="notiTournamentList" class="dropdownList" style="display: block;">Testing 1</div>
        <div id="notiChatList" class="dropdownList" style="display: none;">Testing 2</div>
    </div>
</div>

<style>
</style>

<script>
    document.getElementById('dropdownBtn').addEventListener('click', function(){
        var dropdownMenu = document.getElementById('dropdownMenu');
        dropdownMenu.style.display = dropdownMenu.style.display === 'none' ? 'block' : 'none';
    })

    document.getElementById('notiTournamentBtn').addEventListener('click', function(){
        var notiTournamentList = document.getElementById('notiTournamentList');
        notiTournamentList.style.display = notiTournamentList.style.display = 'block';
        document.getElementById('notiChatList').style.display = 'none';
    })

    document.getElementById('notiChatBtn').addEventListener('click', function(){
        var notiChatList = document.getElementById('notiChatList');
        notiChatList.style.display = notiChatList.style.display = 'block';
        document.getElementById('notiTournamentList').style.display = 'none';
    })


</script>
