@page "{categoryId:guid}"
@model FYPTourneyPro.Pages.TourCategory.DrawListModel
@{
    ViewData["Title"] = "Draw List for Category: " + Model.Category.Name;
    // var urlPage = Url.Page();
    var baseUrl = Url.Content("~");
}
@section scripts {
    <abp-script src="/Pages/TourCategory/DrawList.js" />
}

<div class="container">
    <input hidden value="@baseUrl" />
    <abp-card>
        <abp-card-header>
            <abp-card-title>
                Draw List for @Model.Category.Name
            </abp-card-title>
        </abp-card-header>
        <abp-card-body>
            

            
        </abp-card-body>
    </abp-card>
</div>

